https://image-transporter.localtest.me,
http://image-transporter.localtest.me {
  gzip
  tls self_signed
  proxy / images:4010 {
    transparent
  }
}

:443,
:80
gzip
tls self_signed
proxy / farm:3000 {
  transparent
}
